*~
*.classpath
*.project
*.pyc
*.swp
*/__pycache__/

classes/

MachineLearning/.cache/

MotorAndSensorTest/bin/
MotorAndSensorTest/build/
MotorAndSensorTest/doc/
MotorAndSensorTest/nbproject/

RPC/bin/
RPC/build/
RPC/doc/
RPC/nbproject/

RPCConnector/bin/
RPCConnector/build/
RPCConnector/doc/
RPCConnector/nbproject/

RPCRunner/.gradle
RPCRunner/bin/
RPCRunner/build/
RPCRunner/build.xml
RPCRunner/data/
RPCRunner/dist/
RPCRunner/doc/
RPCRunner/manifest.mf
RPCRunner/nbproject/
RPCRunner/nbproject/private/
